<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 组件扫描-->
    <context:component-scan base-package="com.bjpowernode.service"/>


    <!--事务管理-->
        <!-- 平台事务管理器-->
        <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource"></property>
        </bean>
      <!--  &lt;!&ndash;事务的注解驱动&ndash;&gt;
        <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>-->

        <!--事务不使用注解驱动开发-->
    <!--添加事务切面-->
      <tx:advice id="myadvice" transaction-manager="dataSourceTransactionManager">
          <tx:attributes>
              <!--所有的查询方法设置为只读
              查询时独占这些数据
              在调用查询方法时其它类型的方法回避-->
              <tx:method name="*select*" read-only="true" />
              <tx:method name="*seek*" read-only="true" />
              <!--REQUIRED支持并参与事务-->
              <tx:method name="update" propagation="REQUIRED"/>
              <tx:method name="*del*" propagation="REQUIRED"/>
              <tx:method name="*save*" propagation="REQUIRED"/>
              <!--support支持事务-->
              <tx:method name="*" propagation="SUPPORTS"/>
          </tx:attributes>
      </tx:advice>
    <!--添加切入点-->
      <aop:config>
          <aop:pointcut id="mypointcut" expression="execution(* com.bjpowernode.service.*.*(..))"/>
          <aop:advisor advice-ref="myadvice" pointcut-ref="mypointcut"/>
      </aop:config>
</beans>